li {
  padding: 0.5rem;
}

li:is(:focus, :focus-within) {
  background-color: aliceblue;
}

li:focus {
  outline: blue solid 3px;
}

li > div {
  display: flex;
  gap: 1rem;
}

li > div > *:first-child {
  flex-basis: 30ch;
}

li button:focus {
  outline: blue solid 3px;
}
